

/* PAGOS */

.pagos{
margin-top: 50px;
text-align: center;

}
.pagos h1{
    color: #036635;
}

.pagos .formulario-boleta{
    background-color: silver;
    text-align: center;
    padding: 30px 30px 30px 30px;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    position:relative;
    margin:auto;
    z-index: 1;
    margin-left: auto;
   margin-right: auto;
   align-items: center;




}
.pagos .formulario-boleta label{

    margin-bottom: 5px;
    margin-right: 2px;

}

.pagos .formulario-boleta input{

  border: 2px solid grey;
  height: 30px;
  font-size: 16px;
  width: 50%;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display:table-row;

}

/* BOTON */
.btn-sillas{
    border-radius: 40px;
    width: 100px;
    height: 30px;
    box-shadow: #3d3935;
    background-color: #006241;
    transition: all 300ms ease;
    color: #ffff;
    border: 2px solid  #006241;







}



.btn-sillas ::before{
    content:'';
    background-color: #006241;
    transition: all 500ms ease;
    z-index: -1;
}


.btn-sillas:hover{
   animation: shadow-pulse  1000ms 1 ;
   background-color: #006241;
   color:#ffff;

}
.btn-puntos{
  border-radius: 40px;
  width: 100px;
  height: 30px;
  box-shadow: #3d3935;
  background-color: #006241;
  transition: all 300ms ease;
  color: #ffff;
  border: 2px solid  #006241;
  margin-bottom: 12px;
  margin-top: 8px;

}

@keyframes shadow-pulse {

    0%{
        box-shadow: 0 0 0 0 #006241;
    }

    100%{
        box-shadow: 0 0 8px 16px rgba(3, 44, 41,0.225);
    }

}



    /* RESPONSIVE */
    @media screen and (max-widht: 700px) {
        .pie-pagina .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            padding: 35px 0px;

        }
    }


    @media (max-width:700px){
        header{
            flex-direction: column;
        }

        nav{
            padding: 10px 0px;
        }
    }
