
<!-- SECCION PAGOS -->
<div class="pagos">
<h1> CENTRAL DE PAGOS</h1>


<form class="formulario-boleta">

    <div class="elemento1">

        <label for="multiplex" > Multiplex: </label>
        <input id="multiplex" type="text" disabled="" name="multiplex">

    </div>

  <div class="elemento2">

    <label for="pelicula" > Pelicula: </label>
    <input id="pelicula" type="text" disabled="" name="pelicula">

   </div>

  <div class="elemento3">
    <label for="fecha" > Fecha: </label>
    <input id="fecha" type="date"  disabled="" name="fecha">



  </div>


 <div class="elemento4">
    <label for="hora" > Hora: </label>
    <input id="hora" type="time"  disabled="" name="hora">



 </div>


 <div class="elemento5">

    <label for="sala" > Sala: </label>
 <input id="sala" type="text"  disabled="" name="sala">

 </div>


 <div class="elemento6">
    <label for="silla" > Silla: </label>
    <input id="silla" type="text" disabled="" name="silla">
 </div>


 <div class="elemento7">
    <label for="total" > Total a pagar: </label>
    <input id="total" type="text" disabled="" name="total">


 </div>

 <div class="boton">
    <button type="submit"  class="btn-sillas"> Pagar </button>
  </div>

</form>
<div class="boton-puntos">
  <button type="submit"  class="btn-puntos"> Redimir Puntos </button>
</div>

</div>


