<p>pago works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine Jungla-Pagos</title>
    <link rel="icon" href="logoCine.png">
    <script src="https://kit.fontawesome.com/0b65db3c48.js" crossorigin="anonymous"></script>

</head>
<body>
<!-- HEADER -->
<header>
    <a href="#" class="logo">
        <img src="logoCine.png" alt="logo del cine">
        <h2 class="nombre-empresa"> Cine Jungla </h2>
    </a>
    <nav>
        <a href="" class="nav-link">Cartelera</a>
        <a href="" class="nav-link">Snacks</a>
        <a href="" class="nav-link">Iniciar Sesion</a>
    </nav>
</header>

<!-- SECCION PAGOS -->
<div class="pagos">
<h1> CENTRAL DE PAGOS</h1>


<form class="formulario-boleta">

    <div class="elemento1">

        <label for="multiplex" > Multiplex: </label>
        <input id="multiplex" type="text" disabled="" name="multiplex">

    </div>

  <div class="elemento2">

    <label for="pelicula" > Pelicula: </label>
    <input id="pelicula" type="text" disabled="" name="pelicula">

   </div>

  <div class="elemento3">
    <label for="fecha" > Fecha: </label>
    <input id="fecha" type="date"  disabled="" name="fecha">



  </div>


 <div class="elemento4">
    <label for="hora" > Hora: </label>
    <input id="hora" type="time"  disabled="" name="hora">



 </div>


 <div class="elemento5">

    <label for="sala" > Sala: </label>
 <input id="sala" type="text"  disabled="" name="sala">

 </div>


 <div class="elemento6">
    <label for="silla" > Silla: </label>
    <input id="silla" type="text" disabled="" name="silla">
 </div>


 <div class="elemento7">
    <label for="total" > Total a pagar: </label>
    <input id="total" type="number" disabled="" name="total">


 </div>

</form>

<input type="image" src="pse-logo.png" width="180px" height="170px"/>
<input type="image" src="tarjetas-png.png" width="100px" height="90px"/>


<form class="formulario-tarjetas">

    <div class="elemento1">

        <label for="tarjeta" > Tipo de Tarjeta: </label>
        <input id="tarjeta" type="text" disabled="" name="tarjeta">

    </div>

    <div class="elemento2">
        <label for="titular" > Titular de la tarjeta: </label>
         <input id="titular" type="text" name="titular">


    </div>

    <div class="elemento3">

        <label for="fecha-expiracion" > Fecha de vencimiento: </label>
       <input id="fecha-expiracion" type="date" name="fecha-expiracion">

    </div>

    <div class="elemento4">
        <label for="cvv" > CVV </label>
        <input id="cvv" type="number" name="cvv">

    </div>
    <button type="submit" class="btn-enviar">Enviar</button>

</form >


</div>



<!-- FOOTER -->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="logoCine.png" alt="logo del cine en footer">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2> SOBRE NOSOTROS </h2>
            <p> Me duele el ano</p>
            <p> Me duele el anoo</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>

            </div>

        </div>
    </div>

    <div class="grupo-2">
        <small>&copy;2022    Cine Jungla  - Todos los derechos reservados</small>

    </div>


</footer>


</body>
</html>
