.register {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

.title {
  background: #036635;
  margin-bottom: 20px;
  padding: 10px;
}

.title h2 {
  color: white;
}

.register .registerForm {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  position: relative;
  top: 90px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0 0 15px #ddd;
  background: #fff;
  font-weight: 600;
  border: solid #ddd;
}

.register .registerForm label {
  display: block;
  margin-bottom: 5px;
  margin-right: 2px;
  padding-top: 10px;
  color: #3d3935;
}

.register .registerForm input {
  border: 2px solid #3AA677;
  background: #7ECFAC;
  height: 30px;
  font-size: 16px;
  width: 90%;
  padding: 5px 12px;
  border-radius: 5px;
}

.register .registerForm .btn-entrar {
  margin-top: 10px;
}

.register .registerForm a {
  color: #3d3935;
}

.register .registerForm a:hover {
  color: #3AA677;
}

.register .registerForm img {
  height: 70px;
  width: 70px;
  margin-bottom: 7px;

}

.register .registerForm label {
  margin-bottom: 5px;
  margin-right: 2px;
}

.btn-entrar {
  border: 2px solid gray;
  height: 50px;
  font-size: 16px;
  width: 90%;
  padding: 5px 12px;
  border-radius: 5px;
  background: #036635;
}

/* RESPONSIVE */

@media (max-width:700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}
