<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="../../../assets/images/logoCine.png">
    <script src="https://kit.fontawesome.com/0b65db3c48.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- FORMULARIO -->

    <div class="pagos">

        <form class="formulario-boleta" [formGroup]="registro" (ngSubmit)="registrar()">

            <h1> Registrar Cuenta </h1>
            <img src="../../../assets/images/logoCine.png" alt="logo del cine">


            <div class="elemento0">

                <label for="nombre-usuario"> Nombre de usuario </label>
                <input id="nombre-usuario" type="text" name="nombre-usuario">

            </div>

            <div class="elemento1">

                <label for="correo"> Correo Electronico </label>
                <input id="correo" type="text" name="correo">

            </div>

            <div class="elemento2">

                <label for="contraseña"> Ingresa una Contraseña </label>
                <input id="contraseña" type="password" name="contraseña">

            </div>

            <div class="elemento3">

                <label for="contraseña-repeat"> Repite tu contraseña </label>
                <input id="contraseña-repeat" type="password" name="contraseña-repeat">

            </div>

            <button type="submit" class="btn-entrar"> Registrarse </button>

            <p> ¿ya tienes una cuenta?</p>

            <nav>
                <a href="../iniciar-sesion/iniciar-sesion.component.html" class="nav-link">Iniciar sesion</a>
            </nav>

        </form>

    </div>



</body>

</html>
