<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="../../../assets/images/logoCine.png">
    <script src="https://kit.fontawesome.com/0b65db3c48.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- FORMULARIO -->

    <div class="pagos">
        <form class="formulario-boleta" [formGroup]="registro" (ngSubmit)="registrar(registro.value)">
            <div class="title">
                <h2> Registrar Cuenta </h2>
                <img src="../../../assets/images/logoCine.png" alt="logo del cine">
            </div>
            <div class="elemento0">
                <label for="nombre-usuario"> Nombre de usuario </label>
                <input id="nombre-usuario" type="text" formControlName="usuarioCliente">
            </div>
            <div class="elemento1">
                <label for="correo"> Nombre Completo </label>
                <input id="correo" type="text" formControlName="nombreCliente">
            </div>
            <div class="elemento2">
                <label for="contraseña"> Documento de identidad </label>
                <input id="contraseña" type="text" formControlName="cedulaCliente">
            </div>
            <div class="elemento3">
                <label for="contraseña-repeat"> contraseña </label>
                <input id="contraseña-repeat" type="password" formControlName="passwordCliente">
            </div>

            <button type="submit" class="btn-entrar"> Registrarse </button>

            <p> ¿ya tienes una cuenta?</p>

            <nav>
                <a href="../iniciar-sesion/iniciar-sesion.component.html" class="nav-link">Iniciar sesion</a>
            </nav>

        </form>

    </div>



</body>

</html>
