<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="../../../assets/images/logoCine.png">
    <script src="https://kit.fontawesome.com/0b65db3c48.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <!-- HEADER -->

    <header>
        <a href="#" class="logo">
            <img src="../../../assets/images/logoCine.png" alt="logo del cine">
            <h2 class="nombre-empresa"> Cine Jungla </h2>
        </a>
            <nav>
                <a href="" class="nav-link">Cartelera</a>
                <a href="" class="nav-link">Snacks</a>
                <a href="" class="nav-link">Iniciar Sesion</a>
            </nav>

    </header>



    <!-- FORMULARIO -->

    <div class="pagos">

        <form class="formulario-boleta">

            <h1> Registrar Cuenta </h1>
            <img src="../../../assets/images/logoCine.png" alt="logo del cine">


            <div class="elemento0">

                <label for="nombre-usuario"> Nombre de usuario </label>
                <input id="nombre-usuario" type="text" name="nombre-usuario">

            </div>

            <div class="elemento1">

                <label for="correo"> Correo Electronico </label>
                <input id="correo" type="text" name="correo">

            </div>

            <div class="elemento2">

                <label for="contraseña"> Ingresa una Contraseña </label>
                <input id="contraseña" type="password" name="contraseña">

            </div>

            <div class="elemento3">

                <label for="contraseña-repeat"> Repite tu contraseña </label>
                <input id="contraseña-repeat" type="password" name="contraseña-repeat">

            </div>

            <button type="submit" class="btn-entrar"> Registrarse </button>

            <p> ¿ya tienes una cuenta?</p>

            <nav>
                <a href="" class="nav-link">Iniciar sesion</a>
            </nav>

        </form>



        <!-- FOOTER -->
        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../../../assets/images/logoCine.png" alt="logo del cine en footer">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2> SOBRE NOSOTROS </h2>
                    <p> Me duele el ano</p>
                    <p> Me duele el anoo</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>

                    </div>

                </div>
            </div>

            <div class="grupo-2">
                <small>&copy;2022 Cine Jungla - Todos los derechos reservados</small>

            </div>

        </footer>
    </div>



</body>

</html>