<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks</title>
    <link rel="icon" href="../../../assets/images/logoCine.png">
    <script src="https://kit.fontawesome.com/0b65db3c48.js" crossorigin="anonymous"></script>



</head> -->

<div class="snacks">
  <div class="product--grid">
    <div *ngFor="let snack of snacks">
      <img [src]="snack.direccionImagen" alt="image">
      <h2>{{snack.nombreSnack}}</h2>
      <p>Precio unitario: ${{snack.precioUnitario}}</p>
    </div>
  </div>
</div>
    <!-- <div class="snacks">

        <div class="snack1">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/palomitasClasicas.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">

            </a>
            <p> Palomitas clasicas </p>


        </div>

        <div class="snack2">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/palomitas-dulces.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Palomitas dulces </p>
        </div>

        <div class="snack3">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/palomitas-mixtas.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Palomitas mixtas </p>
        </div>
        <div class="snack4">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/perrito.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p>  Perrito Caliente </p>
        </div>
        <div class="snack5">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/sandwich.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Sandwich clasico </p>
        </div>

        <div class="snack6">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/nachos.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Nachos con queso chedar </p>
        </div>

        <div class="snack7">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/chocolatina.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Chocolatina </p>
        </div>

        <div class="snack8">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/gaseosa.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Gaseosa </p>
        </div>

        <div class="snack9">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/malteada.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Malteada </p>
        </div>

        <div class="snack10">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/combo-tarzan.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Combo Tarzan  </p>
        </div>

        <div class="snack11">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/como-george.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Combo george de la Jungla </p>
        </div>

        <div class="snack12">

            <a href="#" class="nav-link">
                <img src="../../../../assets/images/combo-mowgli.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Combo Mowgli </p>
        </div>

    </div> -->
<!--
</html> -->



















