<p>sala works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine Jungla-snacks</title>
    <link rel="icon" href="logoCine.png">
    <script src="https://kit.fontawesome.com/0b65db3c48.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilos-3.css">

</head>
<body>

    <header>
        <a href="#" class="logo">
            <img src="logoCine.png" alt="logo del cine">
            <h2 class="nombre-empresa"> Cine Jungla </h2>
        </a>
        <nav>
            <a href="" class="nav-link">Cartelera</a>
            <a href="" class="nav-link">Snacks</a>
            <a href="" class="nav-link">Iniciar Sesion</a>
        </nav>
    </header>
    <!-- SECCION DONDE VAN LOS SNACKS -->

    <div class="snacks">

        <div class="snack1">

            <a href="#" class="nav-link">
                <img src="palomitasClasicas.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
                
            </a>
            <p> Palomitas clasicas </p>

            
        </div>

        <div class="snack2">

            <a href="#" class="nav-link">
                <img src="palomitas-dulces.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Palomitas dulces </p>
        </div>

        <div class="snack3">

            <a href="#" class="nav-link">
                <img src="palomitas-mixtas.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Palomitas mixtas </p>
        </div>
        <div class="snack4">

            <a href="#" class="nav-link">
                <img src="perrito.png" alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p>  Perrito Caliente </p>
        </div>
        <div class="snack5">

            <a href="#" class="nav-link">
                <img src="sandwich.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Sandwich clasico </p>
        </div>

        <div class="snack6">

            <a href="#" class="nav-link">
                <img src="nachos.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Nachos con queso chedar </p>
        </div>

        <div class="snack7">

            <a href="#" class="nav-link">
                <img src="chocolatina.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Chocolatina </p>
        </div>

        <div class="snack8">

            <a href="#" class="nav-link">
                <img src="gaseosa.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Gaseosa </p>
        </div>

        <div class="snack9">

            <a href="#" class="nav-link">
                <img src="malteada.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Malteada </p>
        </div>

        <div class="snack10">

            <a href="#" class="nav-link">
                <img src="combo-tarzan.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Combo Tarzan  </p>
        </div>

        <div class="snack11">

            <a href="#" class="nav-link">
                <img src="como-george.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Combo george de la Jungla </p>
        </div>

        <div class="snack12">

            <a href="#" class="nav-link">
                <img src="combo-mowgli.png"alt="poster de pelicula"
            title="Avengers"
            width="310px"
            height="390px">
            </a>
            <p> Combo Mowgli </p>
        </div>

        
    </div>


    <!-- Footer de la pagina -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="logoCine.png" alt="logo del cine en footer">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2> SOBRE NOSOTROS </h2>
                <p> Me duele el ano</p>
                <p> Me duele el anoo</p>       
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    
                </div>

            </div>
        </div>

        <div class="grupo-2">
            <small>&copy;2022    Cine Jungla  - Todos los derechos reservados</small>

        </div>


    </footer>


    
</body>
</html>
