<div class="container-perfil">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="'Mis datos'">
      <form class="formulario-boleta">

        <div class="elemento1">

          <label for="nombre-usuario"> Nombre de usuario</label>
          <input id="nombre-usuario" type="text" disabled="" name="nombre-usuario">

        </div>

        <div class="elemento2">

          <label for="nombre-completo"> Nombre Completo </label>
          <input id="nombre-completo" type="text" disabled="" name="nombre-completo">

        </div>
        <div class="elemento3">

          <label for="documento-identidad"> Documento de identidad </label>
          <input id="documento-identidad" type="text" disabled="" name="documento-identidad">


        </div>
        <p>Presiona el boton para cerrar la Sesion</p>
        <!--BOTON DE CERRAR SESION -->
        <button type="submit" class="btn-salir" (click)="irInicio()"> Cerrar</button>

      </form>

    </mat-tab>
    <mat-tab [label]="'Mis Puntos'">
      <h1>Sobre mis Puntos</h1>
      <p>Recuerda que con 100 puntos puedes asistir a una pelicula en silleteria general totalmente gratis</p>

      <label for="puntos"> Cantidad de puntos </label>
      <input id="puntos" type="text" name="puntos">

      <label for="puntos-vencimiento"> vencimiento de puntos </label>
      <input id="puntos-vencimiento" type="text" name="puntos">

    </mat-tab>
    <mat-tab [label]="'Mis Facturas'">
      <form class="formulario-factura">
        <div class="elemento2">

          <label for="nombre-completo"> Nombre de Cliente </label>
          <input id="nombre-completo" type="text" disabled="" name="nombre-completo">

        </div>
        <div class="elemento6">

          <label for="pelicula"> Pelicula </label>
          <input id="pelicula" type="text" disabled="" name="pelicula">


        </div>
        <div class="elemento7">

          <label for="fecha"> Fecha de la Función </label>
          <input id="fecha" type="text" disabled="" name="fecha">


        </div>
        <div class="elemento15">

          <label for="total-pagar"> Total a pagar </label>
          <input id="total-pagar" type="text" disabled="" name="total-pagar">


        </div>



      </form>

    </mat-tab>

  </mat-tab-group>

</div>
