
<body>

      <!-- FECHA Y HORA DE LA FUNCION -->
      
      <div class="container">
        <h1> Selección de fecha</h1>
          <input type="date">

      </div>

    <!-- <div class="calendario">
     <p> selecciona una fecha</p>
    <mat-form-field>
        <input matInput [matDatepicker]="fecha">
        <mat-datepicker-toggle [for]="fecha" matSuffix ></mat-datepicker-toggle>
        <mat-datepicker #fecha></mat-datepicker>
    </mat-form-field> 

    </div>
   -->
    

    <div class="container-general" style="padding: 3em 3em">

       

        <mat-expansion-panel class="panel-multiplex"  [disabled]="toggle()" >
            <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <button type="submit" class="btn-hora"> 2:30 pm </button>


            <mat-radio-group aria-label="Select an option" >
                <mat-radio-button value="1">Silla General </mat-radio-button>
                <mat-radio-button value="2">Silla Preferencial </mat-radio-button>
              </mat-radio-group>

              <div class="boton">
                <button type="submit" (click)="irSala()"   disabled="" class="btn-sillas"> Escoger sillas </button>
              </div>

              
        
    
        </mat-expansion-panel>




      
    
    
    </div>


    
</body>


