/* HEADER */

body {
  margin: 0;
  color: #383531;
}

a {
  text-decoration: none;
  color: #036635;
}

/* INICIO DE SESION */

.login {
  text-align: center;
  min-height: 100vh;
}

.title {
  background: #036635;
  margin-bottom: 20px;
  padding: 10px;
}

.title h2 {
  color: white;
}

.login .sessionForm {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  position: relative;
  top: 90px;
  margin: auto;
  z-index: 1;
  margin-bottom: 20px;
  box-shadow: 0 0 15px #ddd;
  background: #fff;
  font-weight: 600;
  border: solid #ddd;
}

.login .sessionForm label {
  display: block;
  margin-bottom: 20px;
  margin-right: 2px;
  padding-top: 5px;
}

.login .sessionForm input {
  border: 2px solid #3AA677;
  background: #7ECFAC;
  height: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 90%;
  padding: 5px 12px;
  border-radius: 5px;
}

.login .sessionForm .enterButton {
  margin-bottom: 20px;
  background: #036635;
}

.login .sessionForm a {
  color: #3d3935
}

.login .sessionForm p {
  margin-bottom: 10px;
}

.login .sessionForm a:hover {
  color: #036635;
}

.login .sessionForm img {
  height: 70px;
  width: 70px;
  margin-bottom: 7px;
}

.enterButton {
  background: 55;
  border: 2px solid #02522A;
  height: 50px;
  font-size: 16px;
  width: 90%;
  padding: 5px 12px;
  border-radius: 5px;
}

/* RESPONSIVE */

@media (max-width:700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}
