<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="icon" href="../../../assets/images/logoCine.png">
    <script src="https://kit.fontawesome.com/0b65db3c48.js" crossorigin="anonymous"></script>
    


</head>

<body>
    
    <!-- FORMULARIO -->
    <div class="pagos">

        <form class="formulario-boleta">

            <h1> Inicio de sesion </h1>
            <img src="../../../assets/images/logoCine.png" alt="logo del cine">


            <div class="elemento1">

                <label for="correo"> Correo Electronico </label>
                <input id="correo" type="text" name="correo">

            </div>

            <div class="elemento2">

                <label for="contraseña"> Contraseña </label>
                <input id="contraseña" type="password" name="contraseña">

            </div>

            <button type="submit" class="btn-entrar"> Entrar </button>

            <p> ¿No tienes una cuenta?</p>

            <nav>
                <a   (click)="irRegistro()" href="" class="nav-link">Registrarse</a>
            </nav>


        </form>

       
    </div>


</body>

</html>